/* Основные цвета для светлой темы */
:root {
  --color-header-background: linear-gradient(to right, #3490dc, #41b5f8);
  --color-primary: #3490dc;
  --color-secondary: #ffed4a;
  --color-background: #f9fafb;
  --color-text: #333;
  --color-border: #e2e8f0;
  --color-header-text: #333;
  --color-btn: #0ebbe6;
  --color-footer-background: #1f2937;
  --color-footer-text: #f9fafb;
  --color-button-background: #3490dc;
  --color-button-hover: #2779bd;
}

/* Основные цвета для темной темы */
.dark {
  --color-primary: #4c8bff;
  --color-secondary: #ff9f00;
  --color-background: #1f2937;
  --color-btn: #720ee6;
  --color-text: #f9fafb;
  --color-border: #4b5563;
  --color-header-background: linear-gradient(to right, #3490dc, #000);
  --color-header-text: #f9fafb;
  --color-footer-background: #111827;
  --color-footer-text: #f9fafb;
  --color-button-background: #4c8bff;
  --color-button-hover: #3c74d3;
}
