:root {
  --color-header-background: linear-gradient(to right, #4ca1ff, #82eaff);
  --color-primary: #4ca1ff;
  --color-secondary: #ffe066;
  --color-background: #fff;
  --color-active-link: #1f2937;
  --color-text: #2d3748;
  --color-success: #38a169;
  --color-shadow: #2d374850;
  --color-border: #e0e6ed;
  --color-header-text: #1a202c;
  --color-footer-background: #2d3748;
  --color-danger: #e53e3e;
  --color-footer-text: #fff;
  --color-button-background: #4ca1ff;
  --color-button-hover: #3b82e6;
  --color-blur: radial-gradient(
    circle,
    rgb(255 245 136 / 80%),
    rgb(255 223 136 / 40%)
  );
}

.dark {
  --color-header-background: linear-gradient(to right, #1e40af, #1f2937);
  --color-primary: #4f94ff;
  --color-secondary: #ffc44d;
  --color-background: #121826;
  --color-text: #e5e7eb;
  --color-shadow: #1a202c80;
  --color-active-link: #fbbf24;
  --color-border: #374151;
  --color-success: #38a169;
  --color-header-text: #f3f4f6;
  --color-danger: #992a2a;
  --color-footer-background: #111827;
  --color-footer-text: #e5e7eb;
  --color-button-background: #4f94ff;
  --color-button-hover: #3c74d3;
  --color-blur: radial-gradient(
    circle,
    rgb(150 200 255 / 70%),
    rgb(80 90 150 / 40%)
  );
}
