:root {
  --color-primary: #3498db;
  --color-primary-dark: #2979b5;
  --color-secondary: #2ecc71;
  --color-secondary-dark: #27ae60;
  --background-color: #f5f7fa;
  --card-bg-color: #fff;
  --text-color: #333;
}

.dark {
  --color-primary: #1e90ff;
  --color-primary-dark: #1a75d1;
  --color-secondary: #27ae60;
  --color-secondary-dark: #1f8b50;
  --background-color: #1f1f1f;
  --card-bg-color: #2c2c2c;
  --text-color: #f5f5f5;
}
