.container {
  max-width: 1290px;
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: Ubuntu, sans-serif;
  background-color: var(--color-background);
}

p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.7;
}

.untouchable {
  -webkit-touch-callout: none; /* iOS Safari */ /* Chrome/Safari/Opera */ /* Konqueror */ /* Firefox */
  user-select: none; /* Internet Explorer/Edge */
}
